@tailwind base;
@tailwind components;
@tailwind utilities;

h6 {
  @apply relative mb-3 pl-[75px] text-sm uppercase;
}

h6:before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  position: absolute;
  background-color: black;
  left: 0;
  top: 45%;
  @apply dark:bg-white;
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-black dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-gray-100 bg-opacity-80 backdrop-blur-sm dark:bg-gray-700 dark:bg-opacity-70;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
